langchain
langchain-groq
langchain-huggingface
langchain-community
langchain-text-splitters
langchain-core
langgraph
faiss-cpu
numpy
streamlit
beautifulsoup4
pypdf
tiktoken
sentence-transformers
python-dotenv